<a href="https://colab.research.google.com/github/1krishnasharma/projects/blob/main/dataexploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dfmt=pd.read_csv("/content/mtcars.csv")

In [4]:
#dfsal=pd.read_csv("/content/Salaries.csv")

In [5]:
dfmt.describe()

             mpg        cyl        disp  ...         am       gear     carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

In [7]:
dfmt.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [13]:
dfmt.shape

(32, 12)

In [14]:
type(dfmt)

pandas.core.frame.DataFrame

In [17]:
dfmt.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [18]:
dfmt.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [19]:
dfmt.mode()

                  model   mpg  cyl   disp     hp  ...   qsec   vs   am  gear  carb
0           AMC Javelin  10.4  8.0  275.8  110.0  ...  17.02  0.0  0.0   3.0   2.0
1    Cadillac Fleetwood  15.2  NaN    NaN  175.0  ...  18.90  NaN  NaN   NaN   4.0
2            Camaro Z28  19.2  NaN    NaN  180.0  ...    NaN  NaN  NaN   NaN   NaN
3     Chrysler Imperial  21.0  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
4            Datsun 710  21.4  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
5      Dodge Challenger  22.8  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
6            Duster 360  30.4  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
7          Ferrari Dino   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
8              Fiat 128   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
9             Fiat X1-9   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
10       Ford Pantera L   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
11          Honda Civic   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
12       Hornet 4 Drive   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
13    Hornet Sportabout   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
14  Lincoln Continental   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
15         Lotus Europa   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
16        Maserati Bora   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
17            Mazda RX4   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
18        Mazda RX4 Wag   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
19             Merc 230   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
20            Merc 240D   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
21             Merc 280   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
22            Merc 280C   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
23           Merc 450SE   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
24           Merc 450SL   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
25          Merc 450SLC   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
26     Pontiac Firebird   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
27        Porsche 914-2   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
28       Toyota Corolla   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
29        Toyota Corona   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
30              Valiant   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN
31           Volvo 142E   NaN  NaN    NaN    NaN  ...    NaN  NaN  NaN   NaN   NaN

[32 rows x 12 columns]

In [20]:
cor=dfmt.corr()

In [21]:
cor

           mpg       cyl      disp  ...        am      gear      carb
mpg   1.000000 -0.852162 -0.847551  ...  0.599832  0.480285 -0.550925
cyl  -0.852162  1.000000  0.902033  ... -0.522607 -0.492687  0.526988
disp -0.847551  0.902033  1.000000  ... -0.591227 -0.555569  0.394977
hp   -0.776168  0.832447  0.790949  ... -0.243204 -0.125704  0.749812
drat  0.681172 -0.699938 -0.710214  ...  0.712711  0.699610 -0.090790
wt   -0.867659  0.782496  0.887980  ... -0.692495 -0.583287  0.427606
qsec  0.418684 -0.591242 -0.433698  ... -0.229861 -0.212682 -0.656249
vs    0.664039 -0.810812 -0.710416  ...  0.168345  0.206023 -0.569607
am    0.599832 -0.522607 -0.591227  ...  1.000000  0.794059  0.057534
gear  0.480285 -0.492687 -0.555569  ...  0.794059  1.000000  0.274073
carb -0.550925  0.526988  0.394977  ...  0.057534  0.274073  1.000000

[11 rows x 11 columns]

In [22]:
dfmt

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [31]:
dfmt['disp'].unique()

array([160. , 108. , 258. , 360. , 225. , 146.7, 140.8, 167.6, 275.8,
       472. , 460. , 440. ,  78.7,  75.7,  71.1, 120.1, 318. , 304. ,
       350. , 400. ,  79. , 120.3,  95.1, 351. , 145. , 301. , 121. ])

AttributeError: ignored